@import "../../theme.css";

.login-card {
    display: flex;
    justify-content: center;
    padding: 3rem;
    margin: auto;
    width: 40%;
    height: 85%;
}

.login-card > form{
    display: flex;
    flex-flow: column;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.login-card > form > .logo {
    width: 50%;
    align-self: center;
    margin-bottom: 2rem;
}

.login-card > form > .email-or-username, .login-card > form > .password {
    margin-top: 2rem;
}

.login-card > form > .forgot-password {
    color: var(--primary-color);
    text-decoration: underline;
    cursor: pointer;
    align-self: self-end;
    margin-top: 0.5rem;
}

.login-card > form > .btn-login {
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    width: -moz-fit-content;
    width: 100%;
    background-color: var(--primary-color);
    border: 2px solid var(--primary-color);
    color: white;
    border-radius: 0.3rem;
    box-shadow: 1px 1px 5px black;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}

.login-card > form > .forgot-password:hover {
    color: var(--secondary-color);
}

.login-card > form > .login-error {
    color: #f42828;
    margin-top: 0.5rem;
    font-weight: bold;
}

.login-card > form > .btn-login > svg {
    color: white;
    margin-right: 0.5rem;
}

.login-card > form > .btn-login > p {
    font-size: 1.3rem;
}
