.preview-card {
    width: 30%;
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
    padding: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mobile-device {
    position: relative;
    min-width: 20%;
    max-width: 20%;
    height: 65vh;
    display: flex;
    flex-direction: column;
}

.mobile-header {
    height: 7%;
    display: flex;
    align-items: center;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.app-body {
    padding: 1rem;
    height: 100%;
    position: absolute;
    width: 100%;
    display: flex;
    flex-flow: column;
}

.mobile-question-card {
    padding: 1rem;
    background-color: white;
    border-radius: 0.2rem;
    text-align: center;
}

.mobile-question-card > img {
    margin-top: 1rem;
    height: 80px;
    width: 80px;
    object-fit: cover;
}

.mobile-answers {
    margin-top: 1.5rem;
    width: 100%;
    height: 100%;

}

.mobile-answer {
    border-radius: 0.5rem;
    padding: 0.5rem;
    text-align: center;
    margin-top: 0.5rem;
}

.mobile-progress-bar {
    display: flex;
    align-items: center;
    margin-top: auto;
}

.mobile-progress-bar > .progress-bar {
    display: flex;
    height: 3px;
    width: 100%;
    margin-right: 1rem;
}

.mobile-progress-bar > .progress-bar > .completed-progress {
    height: 100%;
    width: 60%;
}

.mobile-progress-bar > .progress-bar > .remaining-progress {
    height: 100%;
    width: 40%;
}

.category-row {
    display: flex;
}

.category-row > .category-image-container {
    border-radius: 5rem;
    width: 80px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.category-row > .category-image-container > .image {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    border-radius: 5rem;
    min-height: 80%;
    max-height: 80%;
    min-width: 80%;
    max-width: 80%;
    position: absolute;
}

.category-row > .category-detail {
    align-self: center;
    margin-left: 0.8rem;
}

.category-row > .category-detail > .title {
    font-size: 1.2rem;
    font-weight: bold;
}

.mobile-device > .app-body {
    overflow-y: hidden;
}