.download-apk {
    bottom: 2.5rem;
    right: 2.5rem;
  position: fixed;
  width: 4.3rem;
  height: 4.3rem;
  font-size: 1.3rem;
  border-radius: 5rem !important;
  border: 0;
  background-color: #7164e3;
  color: #fff;
  transition: width 0.7s;
    box-shadow: 2px 2px 3px #999;
}

.download-apk:hover {
    width: 15%;
    transition: width 0.7s;
  }

.download-apk > svg {
    opacity: 1;
    transition: opacity 0.5s
  }

  .download-apk:hover > svg  {
    opacity: 0;
    transition: opacity 0.5s
  }

  .download-apk > span  {
    opacity: 0;
    transition: opacity 0.5s;
    position: absolute;
    width: 100%;
    left: 0;
   }

   .download-apk:hover > span {
    opacity: 1;
    transition: opacity 0.5s
  }

  