.preview-card {
    width: 30%;
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
    padding: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mobile-device {
    width: 18vw;
    height: 65vh;
    background-color: red;
}

.mobile-header {
    height: 7%;
    background-color: blue;
    color: white;
    display: flex;
    align-items: center;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.mobile-app-name {
    margin-left: 0.5rem;
}