.preview-card-question {
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
    padding: 1rem 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.mobile-device {
    position: relative;
    min-width: 400px;
    max-width: 400px;
    height: 65vh;
    background-color: #e9e1fd;
    display: flex;
    flex-direction: column;
}

.mobile-header {
    height: 7%;
    display: flex;
    align-items: center;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.app-body {
    margin: 1rem;
    height: 93%;
    position: relative;
}

.mobile-question-card {
    padding: 1rem;
    background-color: white;
    border-radius: 0.2rem;
    text-align: center;
}

.mobile-question-card > img {
    margin-top: 1rem;
    height: 80px;
    width: 80px;
    object-fit: cover;
}

.mobile-answers {
    margin-top: 1.5rem;
    width: 100%;
    height: 100%;

}

.mobile-answer {
    border-radius: 0.5rem;
    padding: 0.5rem;
    margin-top: 0.5rem;
    width: 100%;
    color: white;
}

.mobile-answer.correct > textarea::placeholder, .edit-adornment.correct {
    color: #105f10;
    opacity: 1;
}

.mobile-answer.incorrect > textarea::placeholder, .edit-adornment.incorrect {
    color: #970a0a;
    opacity: 1;
}

.mobile-answer.correct {
    background-color: #21bd21;
}

.mobile-answer.incorrect {
    background-color: #ed3535;
}

.mobile-progress-bar {
    position: absolute;
    display: flex;
    align-items: center;
    bottom: 0;
    width: -webkit-fill-available;
}

.mobile-progress-bar > .progress-bar {
    display: flex;
    height: 3px;
    width: 100%;
    margin-right: 1rem;
}

.mobile-progress-bar > .progress-bar > .completed-progress {
    height: 100%;
    width: 60%;
}

.mobile-progress-bar > .progress-bar > .remaining-progress {
    height: 100%;
    width: 40%;
}

.edit-adornment {
    color: black;
}

textarea {
    box-shadow: none !important;
}

.mobile-statement > fieldset {
    border: 0;
}

input {
    box-shadow: none !important;
}

.mobile-answer > textarea, .mobile-statement > textarea {
    text-align: center;
    border-radius: 5rem;
}

.mobile-answer {
    border-radius: 1rem !important;
}

.mobile-question-card > .question-statement-image {
    margin-left: auto;
    margin-right: auto;
    width: auto;
    height: auto;
    max-width: -webkit-fill-available;
    max-height: 6rem;
    border-radius: 0.5rem;
}


.question-statement-error, .question-answer-error {
    background-color: #d32f2f;
    color: white !important;
    text-align: center !important;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    border: 1px solid white;
}