:root {
    --primary-color: #7164E3;
    --secondary-color: #4F469E;
    --tertiary-color: #DAC9FF;
    --alter-tertiary-color: #EBE3FF;
    --back-color: #FFFEFEFE;
    --primary-button-color: #FF6200EE;
    --secondary-button-color: #FFDD00;
    --primary-correct-color: #21bd21;
    --secondary-correct-color: #126b12;
    --primary-incorrect-color: #ed3535;
    --secondary-incorrect-color: #811f1f;
  }